

body{
align-content: center;
    background: cornflowerblue;
}
 h1 {
     text-align: center;
    font-size: 24px;
   color: rgb(32, 25, 25);
   font-family: 'Concert One', cursive;
 }

 .container {
     margin-left: auto;
     margin-right: auto;
     width: 400px;
     text-align: center;
     padding: 50px;
     border: 2px solid black;

 }
 
     
 


