<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

body{
    background: rgba(68, 223, 202, 0.233);
}
 h1 {
     text-align: center;
    font-size: 24px;
   color: cornsilk;
 }
     
 


