

body{
align-content: center;
    background: cornflowerblue;
}
 h1 {
     text-align: center;
    font-size: 35px;
   color: rgb(32, 25, 25);
   font-family: 'Concert One', cursive;
 }
h3 { 
    font-family: 'Concert One', cursive;
}
 .container {
     margin-left: auto;
     margin-right: auto;     
     width: 400px;
     text-align: center;
     padding: 100px;
     border: 5px solid black;

 }
  
 .letter-bank {
    border:2px solid black;
    background:rgb(151, 9, 9)
    ;
}
   
 


